<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		 					http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		 id="WebApp_ID" 
		 version="3.0">
  <display-name>olmsb</display-name>
  <servlet>
    <servlet-name>webmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>webmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
        	org.springframework.web.context.ContextLoaderListener
        </listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/webmvc-servlet.xml</param-value>
  </context-param>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
      <url-pattern>/dashboard</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>member</web-resource-name>
      <url-pattern>/member/*</url-pattern>
      <url-pattern>/dashboard</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>MEMBER</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>ADMIN</role-name>
  </security-role>
  <security-role>
    <role-name>MEMBER</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/WEB-INF/views/login.jsp</form-login-page>
      <form-error-page>/WEB-INF/views/loginerror.jsp</form-error-page>
    </form-login-config>
  </login-config>
	 <error-page>
      <error-code>403</error-code>
      <location>/WEB-INF/views/403error.jsp</location>
   </error-page>
    <error-page>
      <error-code>404</error-code>
      <location>/WEB-INF/views/404error.jsp</location>
   </error-page>
    <error-page>
      <error-code>405</error-code>
      <location>/WEB-INF/views/405error.jsp</location>
   </error-page>
  
</web-app>